*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: aliceblue;
  color: gray;
}
.posts-container {
  margin: 20px;
  padding: 20px;
  .posts-top {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    .status {
      margin-top: -40px;
      display: flex;
      flex-direction: row;
      gap: 15px;
      .stat-dot {
        display: flex;
        gap: 3px;
        align-items: center;
        .dot {
          width: 10px;
          height: 10px;
          border-radius: 10px;
        }
      }
    }
    .profile-section {
      border: 1px solid gray;
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
  }
  .posts-by-date {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    .date {
      padding: 15px 0;
      color: gray;
    }
    .posts {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      align-items: center;
      justify-content: center;
      .post {
        // border: 1px solid rgb(204, 204, 204);
        box-shadow: 0.5px 0.5px rgb(192, 192, 192);
        width: 350px;
        display: flex;
        border-radius: 7px;
        background-color: #fff;
        .post-status {
          width: 80px;
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
          display: flex;
          flex-direction: column;
          align-items: center;

          justify-content: center;
        }
        .post-content {
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .post-header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            color: gray;
            font-size: 15px;
            .post-options {
              display: flex;
              gap: 10px;
            }
          }
          .post-description {
            color: rgb(109, 109, 109);
            font-size: 14px;
            padding-bottom: 10px;
          }
          .post-image {
            width: 100%;
            padding-bottom: 15px;
          }
          .post-actions {
            display: flex;
            gap: 30px;
            color: gray;
          }
        }
      }
    }
  }
  svg {
    cursor: pointer;
  }
}
